<section class="featured-banner" style="background-image: url('/images/our-products-banner.jpeg');">
    <div class="banner-overlay"></div>
    <div class="banner-content">
        <h1 class="text-center mb-4"><strong>Our Products</strong></h1>
        <p>All Amino Bergeon products are supplied dry or hydrated and resorbable, chorion free human amnion allografts derived from donated human birth tissues and intended for homologous use as a wound covering. Our products are available in a wide variety of sizes and can be trimmed to desired shapes and sizes.</p>
    </div>
</section>

<section class="default">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-sm-0 col-10 offset-1">
                <div class="section-content">
                    <h2 class="mb-4 mt-5"><strong>Amino Burgeon XPlus Membrane</strong></h2>
                    <p>Amino Bergeon® XPlus Hydromembrane is an advanced human allograft derived from healthy amniotic tissue, it undergoes an additional processing step involving chemical cross-linking using glutaraldehyde. This cross-linking enhances the structural integrity of the extracellular matrix, providing improved tensile strength, greater shape retention, and slower absorption within the body. The allograft is stored in sterile saline, promoting hydration and flexibility, and is supplied with removable sterile mesh on both sides to preserve its shape during storage. The mesh can be easily removed when the product is applied.</p>
                    <h4>Key Features</h4>
                    <ul>
                        <li><strong>Chemically cross-linked</strong></li>
                        <li><strong>Enhanced tensile durability</strong></li>
                        <li><strong>Extended resorption time</strong></li>
                        <li><strong>Free from chorion</strong></li>
                        <li><strong>Sterilized via gamma irradiation</strong></li>
                        <li><strong>Saline-packaged for hydration</strong></li>
                        <li><strong>Supports regenerative healing</strong></li>
                    </ul>
                    <p>Amniotic membranes are rich in biological components such as collagen, growth factors, and extracellular matrix proteins, all of which are vital to the wound healing process. Amino Bergeon products are sourced exclusively from the amniotic layer and do not contain chorion. These tissues naturally contain essential elements that aid in tissue repair:</p>
                    <ul>
                        <li>Growth factors</li>
                        <li>Cytokines</li>
                        <li>Amino acids</li>
                        <li>Extracellular matrix proteins</li>
                        <li>Hyaluronic acid</li>
                    </ul>

                    <div class="table-responsive my-5">
                        <table class="membrane-table">
                            <thead>
                                <tr>
                                    <th colspan="2">XPlus Membrane Products</th>
                                </tr>
                                <tr>
                                    <th>Code</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ABXM-020202</td>
                                    <td>XPlus Membrane 2x2 cm</td>
                                </tr>
                                <tr>
                                    <td>ABXM-020204</td>
                                    <td>XPlus Membrane 2x4 cm</td>
                                </tr>
                                <tr>
                                    <td>ABXM-020206</td>
                                    <td>XPlus Membrane 2x6 cm</td>
                                </tr>
                                <tr>
                                    <td>ABXM-020404</td>
                                    <td>XPlus Membrane 4x4 cm</td>
                                </tr>
                                <tr>
                                    <td>ABXM-020406</td>
                                    <td>XPlus Membrane 4x6 cm</td>
                                </tr>
                                <tr>
                                    <td>ABXM-020408</td>
                                    <td>XPlus Membrane 4x8 cm</td>
                                </tr>
                                <tr>
                                    <td>ABXM-020808</td>
                                    <td>XPlus Membrane 8x8 cm</td>
                                </tr>
                                <tr>
                                    <td>ABXM-021520</td>
                                    <td>XPlus Membrane 15x20 cm</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p>All products are manufactured and distributed in compliance with the regulatory requirements of 361 HCT/Ps which are regulated solely under section 361 of the Public Health Service Act and 21 CFR Part 1271.</p>
                    <p class="mb-0">Regulatory & Intended Use Compliance</p>
                    <ul>
                        <li>HCT/P 361 Compliance – These products meet the criteria outlined in 21 CFR 1271.10(a) and are regulated solely under Section 361 of the Public Health Service Act.</li>
                        <li>Intended Clinical Application – Designed to function as a biological barrier, these products provide protective coverage to wounds, shielding them from the surrounding environment.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="default pb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-light">
                    <h2 class="text-center"><strong>Expanding Access. <br>Empowering Outcomes.</strong></h2>
                    <p>OneBioTech is committed to making regenerative medicine a standard of care—not a specialty. By equipping clinicians with biologic solutions and expert support, we help them expand treatment options for patients with complex, chronic, or non-healing wounds.</p>
                </div>
            </div>
        </div>
    </div>
</section>