<header  [class.scrolled]="isScrolled">
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="/appolloweb/images/logo.svg" alt="Apollo Technologies" loading="lazy">
    </a>
  </div>
  <nav class="hide-lg hide-xl" [class.scrolled]="isScrolled">
    <ul>
      <li [ngClass]="{'active': currentRoute === '/'}">
        <a [routerLink]="['/']">Home</a>
      </li>
      <li [ngClass]="{'active': currentRoute === '/contact'}">
        <a [routerLink]="['/contact']">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="menu-button" [class.open]="isOpen" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="mobile-menu" [class.open]="isOpen">
    <div class="img-wrapper">
      <a href="/">
        <img src="/appolloweb/images/logo.svg" alt="logo" loading="lazy">
      </a>
    </div>
    <ul>
      <li [ngClass]="{'active': currentRoute === '/'}">
        <a href="/">Home</a>
      </li>
      <li [ngClass]="{'active': currentRoute === '/contact'}">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</header>