<header  [class.scrolled]="isScrolled">
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="/images/logo.svg" alt="OneBioTech" loading="lazy">
    </a>
  </div>
  <nav class="hide-lg hide-xl" [class.scrolled]="isScrolled">
    <ul>
      <li [ngClass]="{'active': currentRoute === '/'}">
        <a [routerLink]="['/']">HOME</a>
      </li>
      <li [ngClass]="{'active': currentRoute === '/#'}">
        <a [routerLink]="['/#']">WHY US</a>
      </li>
      <li [ngClass]="{'active': currentRoute === '/#'}">
        <a [routerLink]="['/#']">OUR PRODUCTS</a>
      </li>
      <li [ngClass]="{'active': currentRoute === '/contact-us'}">
        <a [routerLink]="['/contact-us']">CONTACT US</a>
      </li>
    </ul>
  </nav>
  <div class="menu-button" [class.open]="isOpen" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="mobile-menu" [class.open]="isOpen">
    <div class="img-wrapper">
      <a [routerLink]="['/']">
        <img src="/images/logo.svg" alt="logo" loading="lazy">
      </a>
    </div>
    <ul>
      <li [ngClass]="{'active': currentRoute === '/'}">
        <a [routerLink]="['/']">HOME</a>
      </li>
      <li [ngClass]="{'active': currentRoute === '/#'}">
        <a [routerLink]="['/#']">WHY US</a>
      </li>
      <li [ngClass]="{'active': currentRoute === '/#'}">
        <a [routerLink]="['/#']">OUR PRODUCTS</a>
      </li>
      <li [ngClass]="{'active': currentRoute === '/#'}">
        <a [routerLink]="['/#']">CONTACT US</a>
      </li>
    </ul>
  </div>
</header>