@import '../../styles/variables';
@import '../../styles/grid';

footer {
  padding: 80px 5% 30px;
  background: transparent linear-gradient(240deg, #864E98 0%, #593890 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-white;
    padding-bottom: 96px;
    .footer-logo {
      > a {
        display: block;
      }
    }
    .footer-content {
      max-width: 474px;
      h4 {
        color: $color-white;
        text-align: center;
      }
      p {
        font-size: 18px;
        line-height: 23px;
        color: $color-white;
      }
    }
  }
  .copyright-text {
    color: $color-light;
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
  }
}

@media (max-width: 992px) {
  .footer-container {
    width: calc(100% - 30px);
  }
}

@media (max-width: 768px) {
  .footer-content {
    p {
      font-size: 16px !important;
      line-height: 21px !important;
    }
  }
  .copyright-text {
    font-size: 16px !important;
  }
  .footer-logo img {
    max-width: 320px;
    margin-bottom: 40px;
  }
}
