<footer>
  <div class="footer-container container">
    <div class="row row-width-100 justify-content-between justify-md-content-center">
      <div class="footer-logo">
        <a [routerLink]="['/']" class="mt-5">
          <img src="/images/logo-light.svg" alt="Apollo Technologies" loading="lazy">
        </a>
      </div>
      <div class="footer-content">
        <h4>Let's Connect</h4>
        <p>Talk to our sales team today to get more information on a tech solution for your wound care needs.</p>
        <form action="">
          <div class="form-group">
            <div class="input-group">
              <input type="text" placeholder="type your email here..">
              <button class="btn-primary" type="submit">Join</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <p class="copyright-text">Copyright © 2025 Apollo Technologies. All rights reserved.</p>
</footer>
