@import '../../styles/variables';
.main-section {
  overflow: hidden;
  .left-container {
    width: 57.5%;
    padding-bottom: 98px;
    display: flex;
    align-items: center;
    h1 {
      padding: 92px 210px 24px 140px;
    }
  }
  
  .right-container {
    width: 42.5%;
    background-color: $color-green1;
    position: relative;
    padding: 60px 0px 80px 0px;
    img {
      position: relative;
      left: -90px;
      width: 100%;
    }
    svg {
      position: absolute;
      bottom: -350px;
      right: -198px;
      z-index: -1;
    }
  }
}

.services-section {
  background-color: $color-blue1;
  padding: 130px;
  p {
    color: $color-white1;
  }
}

.mission-container {
  padding: 112px 140px 80px 140px;
  display: flex;
  justify-content: space-between;
  > div {
    width: 50%;
    h2 {
      text-align: center;
      margin-bottom: 24px;
    }
    &:first-child {
      padding-right: 80px;
      border-right: 1px solid $color-blue1;
    }
    &:last-child {
      padding-left: 100px;
    }
  }
}

.story-section {
  padding: 115px 238px;
  background-color: $color-green3;
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}

.values-section {
  padding: 115px 238px;
  position: relative;
  overflow: hidden;
  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  > div {
    display: flex;
    gap: 16px;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0px;
    }
    h3 {
      width: 340px;
      padding-right: 60px;
      display: flex;
      > span {
        margin-right: 15px;
      }
    }
    .content-section {
      width: calc(100% - 390px);
      h5 {
        margin-bottom: 10px;
      }
    }
  }
  svg {
    position: absolute;
    left: -250px;
    bottom: -280px;
  }
}

@media (min-width: 1680px) {
  .main-section {
    .left-container {
      padding-top: 50px;
      padding-bottom: 150px;
    }
    .right-container {
      padding-top: 50px;
    }
  }
}

@media (min-width: 1441px) {
  .main-section {
    .left-container {
      width: 50%;
    }
    .right-container {
      width: 50%;
      img {
          width: 100%;
        }
    }
  }
}

@media (max-width: 1280px) {
  .main-section {
    .left-container {
      width: 50%;
      h1 {
        padding: 92px 100px 24px 100px;
      }
    }
    .right-container {
      width: 50%;
      display: flex;
      justify-content: center;
      img {
          width: 500px;
          left: unset;
      }
    }
  }
  .values-section {
    padding: 115px 100px;
  }
}

@media (max-width: 1024px) {
  .main-section {
    display: block;
    .left-container {
      width: 100%;
    }
    .right-container {
      width: 100%;
      padding: 90px 0px;
      img {
        width: calc(100% - 200px);
      }
    }
  }
  .services-section {
    padding: 90px 100px;
    .text-container {
      width: 100%;
      text-align: center;
    }
  }
  .mission-container {
    padding: 90px 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    > div {
      width: 100%;
      &:first-child {
        padding-right: 0px;
        border-right: none;
        margin-bottom: 80px;
      }
      &:last-child {
        padding-left: 0px;
      }
    }
  }
  .story-section {
    padding: 90px 100px;
  }
  .values-section {
    padding: 90px 100px;
    > div {
      flex-direction: column;
      h3 {
        width: 100%;
        padding-right: 0px;
      }
      .content-section {
        width: 100%;
      }
    }
    svg {
      left: -300px;
      bottom: -340px;  
    }
  }
}

@media (max-width: 768px) {
  .main-section {
    .left-container {
      width: 100%;
      padding-bottom: 60px;
      h1 {
        padding: 40px 40px 24px 40px;
        text-align: center;
      }
    }
    .right-container {
      img {
        width: calc(100% - 60px);
      }
    }
  }
  .services-section, .mission-container, .story-section, .values-section {
    padding: 90px 60px;
  }
}