<section class="row main-section">
  <div class="left-container">
    <h1>Compassionate care for patients who need it most.</h1>
  </div>
  <div class="right-container">
    <img src="/images/about-banner.png" alt="about us banner">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Group_34" data-name="Group 34" width="486.582" height="486.582" viewBox="0 0 486.582 486.582">
      <defs>
        <clipPath id="clip-path">
          <rect id="Rectangle_41" data-name="Rectangle 41" width="486.582" height="486.582" fill="none"/>
        </clipPath>
      </defs>
      <g id="Group_27" data-name="Group 27" clip-path="url(#clip-path)">
        <circle id="Ellipse_13" data-name="Ellipse 13" cx="241.022" cy="241.022" r="241.022" transform="translate(2.269 2.269)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
        <circle id="Ellipse_14" data-name="Ellipse 14" cx="206.991" cy="206.991" r="206.991" transform="translate(36.3 36.3)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
        <circle id="Ellipse_15" data-name="Ellipse 15" cx="172.959" cy="172.959" r="172.959" transform="translate(70.332 70.331)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
      </g>
    </svg>
  </div>
</section>

<section class="services-section">
  <p>Founded to increase access to care, advance clinical innovation, and uphold social responsibility, United Health Partners is a team of clinicians, scientists, and administrators who work collaboratively to offer compassionate treatment for all patients. It can be challenging for patients with highly specialized medical conditions to navigate the healthcare delivery system. From access to provider information and care, to coordination between specialists, to the financial burden of complex treatment, United Health Partners was formed to address the suite of needs specific to patients with complex medical conditions. We work directly with specialty medicine providers, developing and implementing clinical pathways for patients..</p>
</section>

<section class="mission-container">
  <div>
    <h2>Mission</h2>
    <p>Our mission is to unburden patients diagnosed with complex medical conditions by improving their quality of care with world-class specialty medicine, counseling, education, research, and hands-on treatment. We are clinicians and administrators who treat, counsel, and advocate for the patient populations who are underserved due to the complexity of their medical conditions.</p>
  </div>
  <div>
    <h2>Vision</h2>
    <p>We envision a world wherein patients with complex medical conditions receive increased access to highly specialized treatment. Our goal at United Health Partners is to lower the barriers to outstanding medical care, regardless of a patient’s condition, location, or ability to pay..</p>
  </div>
</section>

<section class="story-section">
  <h2>Our Partners</h2>
  <p>United Health Partners emerged from a multi-state primary care scaleup organization serving approximately 500,000 patients. Here, the team learned first-hand the challenges that those with highly specialized needs encounter in obtaining care. Without a liaison, patients with complex conditions struggle to navigate the healthcare delivery system, payors, and independent providers. Offering customized clinical and administrative support for patients with clinically complex conditions, United Health Partners empowers providers with the tools to best serve their most highly specialized patient populations.</p>
</section>

<section class="values-section">
  <h2>Our Values</h2>
  <div>
      <h3><span>1.</span>Comprehensive Care</h3>
    <div class="content-section">
      <h5>We answer to our patients, not to payors or shareholders.</h5>
      <p>Patient care is our priority, and often patient needs extend beyond the clinical. We take an integrated approach to care, offering counseling and education to patients with complex medical conditions.</p>
    </div>
  </div>
  <div>
    <h3><span>2.</span>Compassionate Empathy</h3>
    <div class="content-section">
      <h5>We listen first, then act.</h5>
      <p>Our clinicians and administrators are trained to navigate the stresses and emotional complexities of highly specialized care. We lead with empathy in all patient interactions.</p>
    </div>
  </div>
  <div>
    <h3><span>3.</span>Accessible Care</h3>
    <div class="content-section">
      <h5>We work with patients in hospitals and facilities, at home, or remotely via telehealth.</h5>
      <p>Outstanding health care should be available to all patients, in particular those with complex medical conditions. We operate independently to avoid the complexities and delays that impede patient care.</p>
    </div>
  </div>
  <div>
    <h3><span>4.</span>Collaborative Execution</h3>
    <div class="content-section">
      <h5>We work as a team to provide each patient with exceptional care.</h5>
      <p>We work in lockstep with providers and patients to coordinate between specialists and offer exceptional administrative and clinical support.</p>
    </div>
  </div>
  <div>
    <h3><span>5.</span>Innovation</h3>
    <div class="content-section">
      <h5>We develop customized, state-of-the-art systems to best serve our patients.</h5>
      <p>The most effective care is informed by cutting-edge technology, adherence to best practices, and administrative and clinical expertise. We work with experts across industries to best serve our patients.</p>
    </div>
  </div>
  <div>
    <h3><span>6.</span>Social Responsibility</h3>
    <div class="content-section">
      <h5>We provide the resources that unburden underserved patient populations.</h5>
      <p>We are on a mission to treat as many patients with complex medical conditions as possible, regardless of their background, geography, or ability to pay.</p>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Group_34" data-name="Group 34" width="486.582" height="486.582" viewBox="0 0 486.582 486.582">
    <defs>
      <clipPath id="clip-path">
        <rect id="Rectangle_41" data-name="Rectangle 41" width="486.582" height="486.582" fill="none"/>
      </clipPath>
    </defs>
    <g id="Group_27" data-name="Group 27" clip-path="url(#clip-path)">
      <circle id="Ellipse_13" data-name="Ellipse 13" cx="241.022" cy="241.022" r="241.022" transform="translate(2.269 2.269)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
      <circle id="Ellipse_14" data-name="Ellipse 14" cx="206.991" cy="206.991" r="206.991" transform="translate(36.3 36.3)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
      <circle id="Ellipse_15" data-name="Ellipse 15" cx="172.959" cy="172.959" r="172.959" transform="translate(70.332 70.331)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
    </g>
  </svg>
</section>