<section class="main-section contact-page">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-12">
        <img src="/images/contact-img.png" alt="Contact Apollo" class="mt-5">
      </div>
      <div class="col-6 col-md-12">
        <div class="contact-form mt-md-5">
          <h2 class="text-center">Contact Us</h2>
          <p class="mb-32">Have any questions about our products or services. Drop us a note and we'll get back to you within 1-2 business days.</p>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div>
              <label for="fullName">Full Name</label>
              <input id="fullName" formControlName="fullName" type="text" placeholder="Full Name">
              <div *ngIf="fullName.invalid && fullName.touched">
                <small *ngIf="fullName.errors?.['required']">Name is required.</small>
              </div>
            </div>
            <div>
              <label for="email">Email</label>
              <input id="email" formControlName="email" type="email" placeholder="Email">
              <div *ngIf="email.invalid && email.touched">
                <small *ngIf="email.errors?.['required']">Email is required.</small>
                <small *ngIf="email.errors?.['email']">Email must be valid.</small>
              </div>
            </div>
            <div>
              <label for="phoneNumber">Phone Number</label>
              <input id="phoneNumber" formControlName="phoneNumber" type="tel" placeholder="Phone Number">
              <div *ngIf="phoneNumber.invalid && phoneNumber.touched">
                <small *ngIf="phoneNumber.errors?.['required']">Phone number is required.</small>
              </div>
            </div>
            <div>
              <label for="companyName">Company Name</label>
              <input id="companyName" formControlName="companyName" placeholder="Company Name">
              <div *ngIf="companyName.invalid && companyName.touched">
                <small *ngIf="companyName.errors?.['required']">Company name is required.</small>
              </div>
            </div>
            <div class="fullwidth">
              <label for="jobTitle">Job Title</label>
              <input id="jobTitle" formControlName="jobTitle" placeholder="Job Title">
              <div *ngIf="jobTitle.invalid && jobTitle.touched">
                <small *ngIf="jobTitle.errors?.['required']">Job title is required.</small>
              </div>
            </div>
            <div class="fullwidth">
              <label for="message">Message</label>
              <textarea id="message" formControlName="message" placeholder="Message"></textarea>
              <div *ngIf="message.invalid && message.touched">
                <small *ngIf="message.errors?.['required']">Message is required.</small>
                <!-- <small *ngIf="message.errors?.['minlength']">Message must be at least 10 characters long.</small> -->
              </div>
            </div>
            <button type="submit" class="btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>