@import '../../../styles/variables';
@import '../../../styles/grid';
.main-section {
  overflow: hidden;
  &.contact-page {
    position: relative;
    padding-top: 90px;
    padding-bottom: 115px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: url('/appolloweb/images/contact-path.png') no-repeat;
      width: 588px;
      height: 290px;
    }
  }
}

.contact-form form {
  display: flex;
  flex-wrap: wrap;
  gap: 23px 16px;
}

.contact-form div {
  width: calc(50% - 8px); /* 50% width with gap compensation */
}

.contact-form .fullwidth {
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 13px 22px;
  border: 0.5px solid #170631;
  border-radius: 9px;
}

.contact-form textarea {
  min-height: 120px; /* Adjust height for message box */
  resize: vertical;
}

@media (max-width: 576px) {
  .contact-form div {
    width: 100%; /* 100% width on Mobiles */
  }
}
