<div class="container">
    <div class="main-section">
        <div class="form-wrapper">
            <h1><strong>Get in touch.</strong></h1>
            <div class="side-section">
                <div>
                    <div>
                        <h4>Snail Mail</h4>
                        <p>2054 Vista Parkway Emerald View # 400 </p>
                        <p>West Palm Beach, Florida 33411</p>
                    </div>
                    <div>
                        <h4>Email</h4>
                        <p>support"&#64;"onebiotech.com </p>
                    </div>
                    <div>
                        <h4>Phone Support:</h4>
                        <p>Mon to Sat: 9AM to 5PM</p>
                        <p>+88-675-128763 </p>
                    </div>
                </div>
                <div class="form-section">
                    <div>
                        <label>Name</label>
                        <input>
                    </div>
                    <div>
                        <label>Email</label>
                        <input>
                    </div>
                    <div>
                        <label>Message</label>
                        <textarea rows="10"></textarea>
                    </div>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light">
        <h2 class="text-center">
            <strong>Expanding Access. 
                <br>Empowering Outcomes.
            </strong>
        </h2>
        <p>OneBioTech is committed to making regenerative medicine a standard of care—not a specialty. By equipping clinicians with biologic solutions and expert support, we help them expand treatment options for patients with complex, chronic, or non-healing wounds.</p>
    </div>
</div>