<section class="featured-banner" style="background-image: url('/images/why-us-banner.jpeg');">
    <div class="banner-overlay"></div>
    <div class="banner-content">
        <h1 class="text-center mb-4">Why Clinicians <br><strong>Choose OneBioTech</strong></h1>
        <p>We go beyond products—we provide a complete ecosystem of support, science, and strategy to help clinicians deliver the highest quality care.</p>
    </div>
</section>

<section class="default">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-sm-0 col-10 offset-1">
                <div class="section-content">
                    <h2 class="mb-0 mt-5"><strong>Science-Driven Innovation</strong></h2>
                    <p>Through cutting-edge R&D and strategic partnerships, we continuously improve the power and precision of regenerative therapies</p>
                    <h2 class="mb-0 mt-72"><strong>Advocacy for Advanced Therapies</strong></h2>
                    <p>We champion the expanded use of human cell and tissue products to transform wound care—enhancing patient outcomes and treatment effectiveness.</p>
                    <h2 class="mb-0 mt-72"><strong>Expert Training & Clinical Support</strong></h2>
                    <p>Our team provides specialized education and guidance to optimize the use of genetic therapies in patient care, ensuring confidence in application and maximizing treatment success.</p>
                    <h2 class="mb-0 mt-72"><strong>Unmatched Quality & Regulatory Compliance</strong></h2>
                    <p>We strictly adhere to FDA regulations and HCT/P 361 guidelines, ensuring safety, consistency, and clinical confidence.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="default pb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-light">
                    <h2 class="text-center"><strong>Expanding Access. <br>Empowering Outcomes.</strong></h2>
                    <p>OneBioTech is committed to making regenerative medicine a standard of care—not a specialty. By equipping clinicians with biologic solutions and expert support, we help them expand treatment options for patients with complex, chronic, or non-healing wounds.</p>
                </div>
            </div>
        </div>
    </div>
</section>