@import '../../styles/variables';
.main-section {
  overflow: hidden;
  .left-container {
    width: 57.5%;
    padding-bottom: 98px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      padding: 92px 108px 0px 140px;
    }
    h4 {
      padding: 32px 108px 18px 140px;
    }
    p {
        padding: 0px 108px 0px 140px; 
    }
  }
  
  .right-container {
    width: 42.5%;
    background-color: $color-green1;
    position: relative;
    .contact-form {
      background-color: $color-grey3;
      padding: 46px;
      margin: 70px 140px 80px 90px;
      border-radius: 22px;
      form {
        > div {
          margin-bottom: 30px;
          input, textarea {
            width: calc(100% - 40px);
            height: 46px;
            border: 0.5px solid $color-blue1;
            border-radius: 18px;
            padding: 0px 20px;
            outline: none;
          }
          textarea {
            height: 240px;
            padding: 20px;
          }
        }
        button {
          font-size: 18px;
          padding: 10px 25px;
        }
      }
    }
    svg {
      position: absolute;
      bottom: -350px;
      right: -198px;
      z-index: -1;
    }
  }
}

@media (min-width: 1680px) {
  .main-section {
    .left-container {
      padding-top: 50px;
      padding-bottom: 150px;
    }
    .right-container {
      padding-top: 50px;
    }
  }
}

@media (min-width: 1441px) {
  .main-section {
    .left-container {
      width: 50%;
    }
    .right-container {
      width: 50%;
    }
  }
}

@media (max-width: 1366px) {
  .main-section {
    .right-container {
      .contact-form {
        margin: 70px 70px 80px 70px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .main-section {
    .left-container {
      width: 50%;
      h1 {
        padding: 92px 100px 24px 100px;
      }
      h4 {
        padding: 32px 108px 18px 100px;
      }
      p {
        padding: 0px 100px 0px 100px;
      }
    }
    .right-container {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .contact-form {
        margin: 70px 70px 80px 70px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .main-section {
    display: block;
    .left-container {
      width: 100%;
      h1 {
        padding: 90px 100px 24px 100px;
      }
      h4 {
        padding: 32px 100px 18px 100px;
      }
      p {
        padding: 0px 100px 0px 100px;
      }
    }
    .right-container {
      width: 100%;
      padding: 90px 0px;
      .contact-form {
        margin: 40px 70px 40px 70px;
      }
    }
  }
}

@media (max-width: 768px) {
  .main-section {
    .left-container {
      width: 100%;
      padding-bottom: 60px;
      h1 {
        padding: 40px 60px 24px 60px;
      }
      h4 {
        padding: 32px 6px 18px 60px;
      }
      p {
        padding: 0px 60px 0px 60px;
      }
    }
    .right-container {
      .contact-form {
        margin: 0px 20px 0px 20px;
      }
    }
  }
}