$color-blue1: #003e70;
$color-green1: rgb(113,187,127, 0.47);
$color-green2: #71BB7F;
$color-green3: #BCDFC3;
$color-grey1: #707070;
$color-grey2: #F1F2EB;
$color-grey3: #F1F1F1;
$color-white1: #ffffff;