<app-page-layout>
  <section class="main-section privacy-page">

    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center">Privacy Policy</h3>

          <h6>Purpose</h6>
          <p>This Privacy Policy describes how Apollo Technologies, &nbsp;applications for providers and other healthcare-related end users (our &ldquo;Applications&rdquo;) use, store, and transmit information and data. Apollo Technologies may modify this Privacy Policy at any time effective upon its posting. Your use of our Applications is subject to the of the applicable Applications&rsquo; End User License Agreement.</p>
          <h6>Policy</h6>
          <p>To protect the confidentiality of your personal information on Apollo Technologies Applications for healthcare providers and other healthcare-related staff end users which are intended to connect to servers and systems operated and maintained by Apollo Technologies in order to provide you secure and, if applicable, mobile access to those systems.</p>
          <h5>Procedure</h5>
          <h6>Your Personal Information</h6>
          <p>When you use our Applications, Apollo Technologies does not receive any personal data directly from you or your device. As described below, our Applications connect with systems operated and maintained by a healthcare institution that uses Apollo Technologies&rsquo; software.</p>
          <h6>Connections to Healthcare Institutions</h6>
          <p>To use our Applications, you must have an account with a healthcare institution who uses Apollo Technologies&rsquo; software, Atlas. Your use of our Application with that healthcare institution may be subject to that healthcare institution&rsquo;s policies and terms. You understand that while connected or attempting to connect to a healthcare institution&rsquo;s system, the healthcare institution may collect, store, process, maintain, upload, sync, transmit, share, disclose, and use certain data and related information, including but not limited to information or data regarding the characteristics or usage of your device, system and application software, and peripherals as well as your personal information, location data, and other content.</p>
          <h6>Using Third Party Tools and Features</h6>
          <p>If you use any third-party tools and features, such as third-party speech-to-text dictation or third-party video, your use of those features is subject to the terms and policies of those third parties. If you have any questions about those terms or policies, you should contact your healthcare institution or the provider of the third-party tool.</p>
          <h6>How We Protect Your Personal Information</h6>
          <p>The security of your information and data while using our Applications is very important to us. Our Applications employ a variety of technical safeguards to protect the confidentiality, integrity, and availability of your personal information including supporting Transport Layer Security (TLS)/Secure Sockets Layer (SSL) certificate technology and encryption.</p>
          <p>Apollo Technologies may use a variety of physical, administrative, and technical measures to protect your personal information.</p>
          <p>If you are a California resident, California law may provide you with additional rights regarding our use of your personal information. To learn more about your California privacy rights, view Apollo Technologies&rsquo; CCPA privacy notice for California residents.</p>
          <h6>CCPA Privacy Notice for California Residents</h6>
          <p>This Privacy Notice for California Residents (&ldquo;Notice&rdquo;) supplements the information contained in Apollo Technologies, &rsquo;s privacy policies and applies to visitors and users who reside in the State of California (&ldquo;consumers&rdquo; or &ldquo;you&rdquo;). We provide this notice in compliance with the California Consumer Privacy Act of 2018 (CCPA). Certain terms in this Notice are defined by the CCPA and their meanings may differ from the meanings that apply elsewhere on our websites.</p>
          <h6>Notice Scope</h6>
          <p>This Notice applies to your use of publicly-available Apollo Technologies resources available via the internet and applications (&ldquo;Apollo Technologies Website or Application&rdquo;).</p>
          <h6>Personal Information We May Collect</h6>
          <p>By using an Apollo Technologies Website or Application, you may provide Apollo Technologies with information that identifies, relates to, describes, references, is reasonably capable of being associated with, or could reasonably be linked, directly or indirectly, with you, your household, or your device (&ldquo;personal information&ldquo;). Please review the privacy policy associated with the Apollo Technologies Website or Application you use to review the personal information you may provide to Apollo Technologies during your use.</p>
          <p>In particular, Apollo Technologies has received the following categories of personal information from users of Apollo Technologies Websites or Applications within the last 12 months (indicated with a &ldquo;Yes&rdquo;):</p>

          <div class="table-responsive-lg">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><strong>Category</strong></th>
                  <th><strong>Examples</strong></th>
                  <th><strong>Collected</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>A.</strong> Identifiers.</td>
                  <td>A real name, alias, postal address, unique personal identifier, online identifier, Internet Protocol address, email address, account name, Social Security number, driver’s license number, passport number, or other similar identifiers.</td>
                  <td>Mobile and MacOS applications: No <br> Other Apollo Technologies websites: Yes</td>
                </tr>
                <tr>
                  <td><strong>B.</strong> Personal information categories listed in the California Customer Records statute (Cal. Civ. Code § 1798.80(e)).</td>
                  <td>A name, signature, Social Security number, physical characteristics or description, address, telephone number, passport number, driver’s license or state identification card number, insurance policy number, education, employment, employment history, bank account number, credit card number, debit card number, or any other financial information, medical information, or health insurance information. Some personal information included in this category may overlap with other categories.</td>
                  <td>Mobile and MacOS applications: No <br> Other Apollo Technologies websites: Yes</td>
                </tr>
                <tr>
                  <td><strong>C.</strong> Protected classification characteristics under California or federal law.</td>
                  <td>Age (40 years or older), race, color, ancestry, national origin, citizenship, religion or creed, marital status, medical condition, physical or mental disability, sex (including gender, gender identity, gender expression, pregnancy or childbirth and related medical conditions), sexual orientation, veteran or military status, genetic information (including familial genetic information).</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td><strong>D.</strong> Commercial information.</td>
                  <td>Records of personal property, products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies.</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td><strong>E.</strong> Biometric information.</td>
                  <td>Genetic, physiological, behavioral, and biological characteristics, or activity patterns used to extract a template or other identifier or identifying information, such as, fingerprints, faceprints, and voiceprints, iris or retina scans, keystroke, gait, or other physical patterns, and sleep, health, or exercise data.</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td><strong>F.</strong> Internet or other similar network activity.</td>
                  <td>Browsing history, search history, information on a consumer’s interaction with a website, application, or advertisement.</td>
                  <td>Mobile and MacOS applications: No <br> Other Apollo Technologies websites: Yes</td>
                </tr>
                <tr>
                  <td><strong>G.</strong> Geolocation data.</td>
                  <td>Physical location or movements.</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td><strong>H.</strong> Sensory data.</td>
                  <td>Audio, electronic, visual, thermal, olfactory, or similar information.</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td><strong>I.</strong> Professional or employment-related information.</td>
                  <td>Current or past job history or performance evaluations.</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td><strong>J.</strong> Non-public education information (per the Family Educational Rights and Privacy Act (20 U.S.C. Section 1232g, 34 C.F.R. Part 99)).</td>
                  <td>Education records directly related to a student maintained by an educational institution or party acting on its behalf, such as grades, transcripts, class lists, student schedules, student identification codes, student financial information, or student disciplinary records.</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td><strong>K.</strong> Inferences drawn from other personal information.</td>
                  <td>Profile reflecting a person’s preferences, characteristics, psychological trends, predispositions, behavior, attitudes, intelligence, abilities, and aptitudes.</td>
                  <td>No</td>
                </tr>
              </tbody>
            </table>
          </div>
          

          <h6>Potential Sources of Personal Information</h6>
          <p>Apollo Technologies Websites and Applications obtain personal information from the following categories of sources:</p>
          <ul>
              <li>Directly from you. For example, from forms you complete, communications you send, job applications you fill out, etc.</li>
              <li>Indirectly from you. For example, from observing your actions on the Apollo Technologies Websites and Applications.</li>
              <li>From your representative. For example, someone at your organization may provide Apollo Technologies with information to create a UserWeb account on your behalf or register you for an Apollo Technologies -hosted event.</li>
          </ul>
          <h6>How We May Use Personal Information</h6>
          <p>We may use personal information for the following purposes:</p>
          <ul>
              <li>To fulfill or meet the reason you provided the information. For example, if you share your name and contact information to apply for a job or ask a question about our products or services, we will use that personal information to respond to you.</li>
              <li>To provide, support, personalize, and develop Apollo Technologies Websites or Applications.</li>
              <li>To create, maintain, customize, and secure your account on any of our websites that require a personal login.</li>
              <li>To process your requests, purchases, transactions, and payments and prevent transactional fraud.</li>
              <li>To provide you with support and to respond to your inquiries, including to investigate and address your concerns and monitor and improve our responses.</li>
              <li>To personalize your experience on Apollo Technologies Websites or Applications and to deliver content relevant to your interests.</li>
              <li>To help maintain the safety, security, and integrity of Apollo Technologies Websites and Applications, products and services, databases and other technology assets, and business.</li>
              <li>For testing, analysis, and product development, including to develop and improve our Apollo Technologies Websites or Applications.</li>
              <li>To respond to law enforcement requests and as required by applicable law, court order, or governmental regulations.</li>
              <li>As described to you when collecting your personal information or as otherwise set forth in the CCPA.</li>
          </ul>
          <p>We will not collect additional categories of personal information or use the personal information we collected for materially different, unrelated, or incompatible purposes without providing you notice. Please review the privacy policy associated with the Apollo Technologies Website or Application you use in order to review the specific ways in which your information may be used.</p>
          <h6>Sharing Personal Information</h6>
          <p>We may disclose your personal information to a third party for a business purpose. When we disclose personal information for a business purpose, we enter a contract that describes the purpose and requires the recipient to both keep that personal information confidential and not use it for any purpose except performing the contract.</p>
          <p>Please review the privacy policy associated with the Apollo Technologies Website or Application you use in order to review the individuals or third parties that may have access to your personal information.</p>
          <h6>Disclosures of Personal Information for a Business Purpose</h6>
          <p>In the preceding twelve (12) months, Apollo Technologies has disclosed the following categories of personal information for a business purpose:</p>
          <ul>
              <li>Category A: Identifiers.</li>
              <li>Category B: California Customer Records personal information categories.</li>
              <li>Category C: Protected classification characteristics under California or federal law.</li>
              <li>Category F: Internet or other similar network activity.</li>
              <li>Category I: Professional or employment-related information.</li>
              <li>Category J: Non-public education information.</li>
              <li>Category K: Inferences drawn from other personal information.</li>
          </ul>
          <p>We disclose your personal information for a business purpose to our third party service providers. We do not sell your information.</p>
          <h6>Your Rights and Choices</h6>
          <p>The CCPA provides consumers (California residents) with specific rights regarding their personal information. This section describes your CCPA rights and explains how to exercise those rights.</p>
          <h6>Access to Specific Information and Data Portability Rights</h6>
          <p>You have the right to request that we disclose certain information to you about our collection and use of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer request (see Exercising Access, Data Portability, and Deletion Rights), we will disclose to you:</p>
          <ul>
              <li>The categories of personal information we collected about you.</li>
              <li>The categories of sources for the personal information we collected about you.</li>
              <li>Our business or commercial purpose for collecting that personal information.</li>
              <li>The categories of third parties with whom we share that personal information.</li>
              <li>The specific pieces of personal information we collected about you (also called a data portability request).</li>
              <li>If we disclosed your personal information for a business purpose, a list of the disclosures for a business purpose, identifying the personal information categories that each category of recipient obtained.</li>
          </ul>
          <p>We do not provide these access and data portability rights for personal information (including health information) that is stored or otherwise used by healthcare systems or other Covered Entities (as that term is defined in the Health Insurance Portability and Accountability Act of 1996 (HIPAA)). Contact your healthcare system(s) if you have questions about these rights with respect to information about you that is stored or otherwise used by them.</p>
          <h6>Deletion Request Rights</h6>
          <p>You have the right to request that we delete any of your personal information that we have collected from you and retained, subject to certain exceptions. Once we receive and confirm your verifiable consumer request (see Exercising Access, Data Portability, and Deletion Rights), we will delete (and direct our service providers to delete) your personal information from our records, unless an exception applies.</p>
          <p>We may deny your deletion request if retaining the information is necessary for us or our service provider(s) to:</p>
          <ol>
              <li>Complete a transaction for which we collected the personal information, provide something that you requested, take actions reasonably anticipated within the context of our ongoing relationship with you, or fulfill any legal obligations we may have.</li>
              <li>Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity, or prosecute those responsible for such activities.</li>
              <li>Debug products to identify and repair errors that impair existing intended functionality.</li>
              <li>Exercise free speech, ensure the right of another consumer to exercise their free speech rights, or exercise another right provided for by law.</li>
              <li>Comply with the California Electronic Communications Privacy Act (Cal. Penal Code &sect; 1546 seq.).</li>
              <li>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when the information&rsquo;s deletion may likely render impossible or seriously impair the research&rsquo;s achievement, if you previously provided informed consent.</li>
              <li>Enable solely internal uses that are reasonably aligned with consumer expectations based on your relationship with us.</li>
              <li>Make other internal and lawful uses of that information that are compatible with the context in which you provided it.</li>
          </ol>
          <p>We do not provide these deletion rights for personal information (including health information) that is stored or otherwise used by healthcare systems or other Covered Entities (as that term is defined in HIPAA). Contact your healthcare system(s) if you have questions about these rights with respect to information about you that is stored or otherwise used by them.</p>
          <h6>Exercising Access, Data Portability, and Deletion Rights</h6>
          <p>To exercise the access, data portability, and deletion rights described above, please submit a verifiable consumer request to us by either:</p>
          <p>Only you or someone legally authorized to act on your behalf may make a verifiable consumer request related to your personal information. You may also make a verifiable consumer request on behalf of your minor child. To designate an authorized agent, contact us at (888) 402-0202 and include a designation of your authorized agent, including the agent&rsquo;s name, email address, and other relevant information that will help us identify your authorized agent.</p>
          <p>You may only make a verifiable consumer request for access or data portability twice within a 12-month period. The verifiable consumer request must:</p>
          <ul>
              <li>Provide sufficient information that allows us to reasonably verify you are the person about whom we collected personal information or an authorized representative, which may include:<ul>
                      <li>First, Middle (if available), and Last Name</li>
                      <li>California Address</li>
                      <li>Valid Email Address</li>
                  </ul>
              </li>
              <li>Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.</li>
          </ul>
          <p>We cannot respond to your request or provide you with personal information if we cannot verify your identity or authority to make the request and confirm the personal information relates to you.</p>
          <p>Making a verifiable consumer request does not require you to create an account with us.</p>
          <p>We will only use personal information provided in a verifiable consumer request to verify the requestor&rsquo;s identity or authority to make the request.</p>
          <h6>Response Timing and Format</h6>
          <p>We endeavor to respond to a verifiable consumer request within forty-five (45) days of its receipt. If we require more time (up to 90 days), we will inform you of the reason and extension period in writing.&nbsp;</p>
          <p>Any disclosures we provide will only cover the 12-month period preceding the verifiable consumer request&rsquo;s receipt. The response we provide will also explain the reasons we cannot comply with a request, if applicable. For data portability requests, we will select a format to provide your personal information that is usable and should allow you to transmit the information from one entity to another entity.&nbsp;</p>
          <p>We do not charge a fee to process or respond to your verifiable consumer request unless it is excessive, repetitive, or unfounded. If we determine that the request warrants a fee, we will tell you why we made that decision and provide you with a cost estimate before completing your request.&nbsp;</p>
          <h6>Non-Discrimination</h6>
          <p>We will not discriminate against you for exercising any of your CCPA rights. Unless permitted by the CCPA, we will not deny you goods or services or provide you a different level or quality of goods or services for exercising any of your CCPA rights.</p>
          <h6>Changes to Our Privacy Notice</h6>
          <p>We reserve the right to amend this Notice at our discretion and at any time. When we make changes to this Notice, we will post the updated Notice on this website and update the Notice&rsquo;s effective date. <strong>Your continued use of an&nbsp;</strong>Apollo Technologies <strong>Website or Application following the posting of changes constitutes your acceptance of such changes.</strong></p>
          <h6>Contact Information</h6>
          <p>If you have any questions or comments about this Notice, the ways in which Apollo Technologies collects and uses your information described here and in the privacy policy associated with the Apollo Technologies Website or Application you use, your choices and rights regarding such use, or wish to exercise your rights under California law, please do not hesitate to contact us at:</p>
          <p><strong>Address:</strong></p>
          <p>2020 Calamos Court, 2nd Floor<br>
          Naperville, Illinois 60563</p>
          <p><strong>Phone:</strong> (888) 402-0202</p>
        </div>
      </div>
    </div>
    
  </section>
</app-page-layout>