<section class="row main-section">
  <div class="left-container">
    <h1>Our Team</h1>
    <p>United Health Partners is comprised of specialists from diverse backgrounds, including specialty physicians, scientists, nurses, social workers, software engineers, technologists, lawyers, and business experts. The team is united by the mission to support and strengthen specialty medicine providers serving the most complex and neglected patient populations.</p>
  </div>
  <div class="right-container">
    <img src="/images/teams-banner.png" alt="about us banner" loading="lazy">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Group_34" data-name="Group 34" width="486.582" height="486.582" viewBox="0 0 486.582 486.582">
      <defs>
        <clipPath id="clip-path">
          <rect id="Rectangle_41" data-name="Rectangle 41" width="486.582" height="486.582" fill="none"/>
        </clipPath>
      </defs>
      <g id="Group_27" data-name="Group 27" clip-path="url(#clip-path)">
        <circle id="Ellipse_13" data-name="Ellipse 13" cx="241.022" cy="241.022" r="241.022" transform="translate(2.269 2.269)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
        <circle id="Ellipse_14" data-name="Ellipse 14" cx="206.991" cy="206.991" r="206.991" transform="translate(36.3 36.3)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
        <circle id="Ellipse_15" data-name="Ellipse 15" cx="172.959" cy="172.959" r="172.959" transform="translate(70.332 70.331)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
      </g>
    </svg>
  </div>
</section>

<section class="leader-section">
  <h2>Our Leadership</h2>
  <p>Ali Karim was trained as an attorney before shifting into the Mergers & Acquisitions group at a multinational investment bank, and then at a global private equity fund focused on healthcare. With an understanding of the difficulties faced by patients with complex medical conditions, Ali founded United Health Partners to resolve these pain points. He holds advanced degrees from the University of Michigan Law School, Columbia University Business School, and The University of Florida, as well as an undergraduate degree in humanities from Georgetown University.</p>
</section>