<app-page-layout>
  <section class="row main-section">
    <div class="left-container">
      <h1>Our Services</h1>
      <p>United Health Partners unburdens patients with highly specialized needs, taking on the clinical and administrative complexities required to manage complex medical conditions..</p>
    </div>
    <div class="right-container">
      <img src="/images/services-banner.png" alt="services banner">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Group_34" data-name="Group 34" width="486.582" height="486.582" viewBox="0 0 486.582 486.582">
        <defs>
          <clipPath id="clip-path">
            <rect id="Rectangle_41" data-name="Rectangle 41" width="486.582" height="486.582" fill="none"/>
          </clipPath>
        </defs>
        <g id="Group_27" data-name="Group 27" clip-path="url(#clip-path)">
          <circle id="Ellipse_13" data-name="Ellipse 13" cx="241.022" cy="241.022" r="241.022" transform="translate(2.269 2.269)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
          <circle id="Ellipse_14" data-name="Ellipse 14" cx="206.991" cy="206.991" r="206.991" transform="translate(36.3 36.3)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
          <circle id="Ellipse_15" data-name="Ellipse 15" cx="172.959" cy="172.959" r="172.959" transform="translate(70.332 70.331)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
        </g>
      </svg>
    </div>
  </section>
  
  <section class="consulting-section">
    <h2>Care, Counseling, Coordination</h2>
    <p>Complex medical conditions often necessitate treatment from multiple health professionals across specializations. The coordination of multiple specialists often falls on the patient, who may also encounter barriers to transportation, comprehension, or financial access. United Health Partners offers care coordination and counseling services to specialty medical patients struggling to navigate the complexities of their care.</p>
  </section>
  
  <section class="pharmacy-section">
    <h2>Complex Pharmacy Management</h2>
    <p>Patients with complex medical conditions are often prescribed costly specialty medications that require prior authorizations. United Health Partners equips providers with complex pharmacy management tools, allowing them to provide patients with prior authorizations and support options for out-of-pocket payments.</p>
  </section>
  
  <section class="clinical-section">
    <h2>Clinical Decision Support</h2>
    <p>As complex medical conditions can necessitate multiple types of providers, United Health Partners works with independent medical practices to assist with clinical decision support, clinical support technology, and up-to-date information on best practices and care standards.</p>
  </section>
  
  <section class="patnership-section">
    <h2>Partnership with Specialty Practices</h2>
    <p>As one of the nation’s leading healthcare provider organizations, United Health Partners invests in independent medical practices, partnering with or purchasing specialty practices that treat patients with complex medical conditions.</p>
  </section>
  
  <section class="program-section">
    <h2>Description of 340B program</h2>
    <p>The 340B Drug Pricing Program provides financial assistance to medical facilities serving vulnerable communities to increase access to prescription drugs</p>
    <p>
      According to 340B of the Public Health Service Act, healthcare organizations that service many low-income or uninsured patients are eligible for discounted prices on outpatient drugs sold by drug manufacturers participating in Medicaid. Several types of hospitals may qualify including sole community hospitals (SCHs), critical access hospitals (CAHs), rural referral centers (RRCs), and public and nonprofit disproportionate share hospitals (DSH) that treat low-income patients as well as federal grantee organizations. The program was designed to offer outpatient pharmaceuticals at more affordable prices for patients, expanding access to health services to underserved communities and patient populations.
    </p>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Group_34" data-name="Group 34" width="486.582" height="486.582" viewBox="0 0 486.582 486.582">
      <defs>
        <clipPath id="clip-path">
          <rect id="Rectangle_41" data-name="Rectangle 41" width="486.582" height="486.582" fill="none"/>
        </clipPath>
      </defs>
      <g id="Group_27" data-name="Group 27" clip-path="url(#clip-path)">
        <circle id="Ellipse_13" data-name="Ellipse 13" cx="241.022" cy="241.022" r="241.022" transform="translate(2.269 2.269)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
        <circle id="Ellipse_14" data-name="Ellipse 14" cx="206.991" cy="206.991" r="206.991" transform="translate(36.3 36.3)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
        <circle id="Ellipse_15" data-name="Ellipse 15" cx="172.959" cy="172.959" r="172.959" transform="translate(70.332 70.331)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
      </g>
    </svg>
  </section>
</app-page-layout>