<app-page-layout>
  <section class="main-section pb-sm-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 offset-sm-0 col-8 offset-2">
          <div class="feature-banner pt-5">
            <h1 class="px-sm-0 px-5 mb-3">Innovating the Future of <strong>Wound Healing</strong></h1>
            <p>At OneBioTech, we are redefining regenerative medicine with advanced biologic solutions designed to enhance healing, reduce inflammation, and improve patient comfort. Our cutting-edge tissue therapies are built for today’s healthcare providers—driving superior clinical outcomes while maintaining cost-effectiveness.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="default pb-0">
    <div class="container">
      <div class="row g-0 align-items-center">
        <div class="col-12">
          <div class="img-group">
            <div class="img-fluid left">
              <img src="/images/one-bio-tech-img-1.jpeg" class="left" alt="">
            </div>
            <div class="img-fluid right">
              <img src="/images/one-bio-tech-img-2.jpeg" class="right" alt="">
            </div>
          </div>
        </div>
        <div class="col-sm-12 offset-sm-0 col-10 offset-1 mt-72">
          <div class="section-content">
            <h2 class="text-center"><strong>Amino Bergeon</strong> <br>Powerful Protection. <br>Proven Performance.</h2>
            <p>Our flagship <strong>Amino Bergeon</strong> product line harnesses the natural regenerative power of <strong>human amniotic tissue membranes.</strong> These biologic dressings form a protective barrier that supports soft tissue repair while integrating seamlessly into the body.</p>
            <p><strong class="color-primary">Protective Barrier.</strong> Shields wounds from contamination, supporting a cleaner healing environment</p>
            <p><strong class="color-primary">Non-Immunogenic.</strong> Reduces risk of rejection, enabling faster and smoother recovery</p>
            <p><strong class="color-primary">Versatile Application.</strong> Effective across a wide range of complex wounds</p>
            <p class="text-center mt-56"><a href="#" class="btn btn-primary">Our Products</a></p>
          </div>
        </div>
        <div class="col-12">
          <hr>
        </div>
        <div class="col-sm-12 offset-sm-0 col-5 offset-1">
          <h2><strong>Clinically Proven</strong> <br>for Advanced <br>Wound Types</h2>
        </div>
        <div class="col-sm-12 col-5">
          <div class="section-content">
            <p>Our amniotic tissue membranes are used in evidence-based care for:</p>
            <ul>
              <li><strong>Diabetic Foot Ulcers (DFUs)</strong></li>
              <li><strong>Venous Leg Ulcers (VLUs)</strong></li>
              <li><strong>Pressure Ulcers (Bedsores)</strong></li>
              <li><strong>Sacral Wounds</strong></li>
            </ul>
          </div>
        </div>

        <div class="col-12 mt-72">
          <div class="bg-light">
            <h2 class="text-center"><strong>Expanding Access. <br>Empowering Outcomes.</strong></h2>
            <p>OneBioTech is committed to making regenerative medicine a standard of care—not a specialty. By equipping clinicians with biologic solutions and expert support, we help them expand treatment options for patients with complex, chronic, or non-healing wounds.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
</app-page-layout>
