@import '../../../styles/variables';
@import '../../../styles/grid';

.main-section {
  position: relative;
  // overflow: hidden;
  padding: 95px 32px 148px;
  min-height: 557px;
  &::before {
    content: '';
    background: url('/images/featured-img.png') no-repeat;
    background-position: bottom center;
    width: 100%;
    min-height: 740px;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    padding-bottom: 60px;
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.feature-banner {
  p {
    color: $color-white;
    margin-right: 25%;
  }
}

.content-section {
  padding-top: 100px;
  padding-bottom: 150px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('/images/shape-right.png') no-repeat;
    width: 157px;
    height: 658px;
  }
}

@media (min-width: 992px) and (max-width: 1190px) {
  .main-section {
    &::before {
      min-height: 800px;
    }
  }
  .content-section {
    img {
      margin-left: 0 !important;
    }
  }
}

@media (max-width: 992px) {
  .main-section {
    position: relative;
    // overflow: hidden;
    padding: 95px 32px 148px;
    min-height: 557px;
    &::before {
      content: '';
      min-height: 740px;
      padding-bottom: 20px;
      background-position-x: -170px;
    }
  }
  .content-section {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .feature-banner {
    p {
      margin-right: 0;
    }
  }
  .content-section img {
    max-width: 60%;
  }
  .main-section {
    padding: 80px 32px 94px;
    min-height: 610px;
    &::before {
      content: '';
      min-height: 630px;
      background-position-x: -180px;
    }
  }
}

@media (max-width: 576px) {
  .main-section {
    padding: 80px 32px 94px;
    &::before {
      content: '';
      min-height: 730px;
      background-position-x: -300px;
    }
  }
}

@media (max-width: 490px) {
  .main-section {
    &::before {
      content: '';
      min-height: 800px;
      background-position-x: -340px;
    }
  }
}

@media (max-width: 420px) {
  .main-section {
    padding: 80px 32px 94px;
    &::before {
      content: '';
      min-height: 900px;
      background-position-x: -440px;
    }
  }
}