<app-page-layout>
  <section class="row main-section">
    <div class="left-container">
      <h1>Treating complex medical conditions.</h1>
      <p>United Health Partners is comprised of physicians, pharmacists, nurses, administrators, and other healthcare professionals with a shared mission to provide exceptional specialty medicine for patients who are the most medically vulnerable in the population.</p>
    </div>
    <div class="right-container">
      <img src="/images/doctor.png" alt="doctor-image" loading="lazy">
      <ul>
        <li>
         <h6><span>+</span> Increased access to care</h6> 
        </li>
        <li>
          <h6><span>+</span> Advanced clinical innovation</h6>
        </li>
        <li>
          <h6><span>+</span> Treating the most vulnerable</h6>
        </li>
      </ul>
      <div class="align-center">
        <button [routerLink]="['/about']">Beyond clinicians we’re advocates.</button>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Group_34" data-name="Group 34" width="486.582" height="486.582" viewBox="0 0 486.582 486.582">
        <defs>
          <clipPath id="clip-path">
            <rect id="Rectangle_41" data-name="Rectangle 41" width="486.582" height="486.582" fill="none"/>
          </clipPath>
        </defs>
        <g id="Group_27" data-name="Group 27" clip-path="url(#clip-path)">
          <circle id="Ellipse_13" data-name="Ellipse 13" cx="241.022" cy="241.022" r="241.022" transform="translate(2.269 2.269)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
          <circle id="Ellipse_14" data-name="Ellipse 14" cx="206.991" cy="206.991" r="206.991" transform="translate(36.3 36.3)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
          <circle id="Ellipse_15" data-name="Ellipse 15" cx="172.959" cy="172.959" r="172.959" transform="translate(70.332 70.331)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
        </g>
      </svg>
    </div>
  </section>
  <section class="services-section">
    <p class="text-container">We specialize in effectively treating complex medical conditions, including cancer, immunocompromised conditions, infectious diseases, advanced wounds, neuro-degenerative conditions, complex allergies, and mental illnesses. We work directly with specialty medicine providers, developing and implementing clinical pathways for patients with complex conditions.</p>
    <div class="align-center">
      <button [routerLink]="['/services']" class="btn-primary">SERVICES</button>
    </div>
  </section>
  <section class="partners-section">
    <h2>Our Partners</h2>
    <p class="text-container">United Health Partners builds strong care teams composed of partners in specialty medicine, including physicians, nurses, pharmacists, and other healthcare.</p>
    <ul>
      <li>
        <div>
          <img src="/images/woundcare.png" alt="United Woundcare Institue" loading="lazy">
        </div>
        <p>United Woundcare Institute is one of the nation’s leading providers of advanced wound care, currently operating in 20 states. Through a multispecialty medical practice structure, United Woundcare Institute serves patients with complex wounds at hospitals, nursing facilities, clinics, and patient residences.</p>
      </li>
      <li>
        <div>
          <img src="/images/vascular.png" alt="United Woundcare Institue" loading="lazy">
        </div>
        <p>United Vascular Institute is a leading provider of vascular health services, and currently operates in eight states. United Vascular Institute offers all modalities of vascular care, including the treatment of life-threatening vascular occlusion. These trained vascular specialists serve patients in hospitals, nursing facilities, clinics, and surgical facilities..</p>
      </li>
      <li>
        <div>
          <img src="/images/multi.png" alt="United Woundcare Institue" loading="lazy">
        </div>
        <p>United Multispecialty Partners provides healthcare to patients with neurodegenerative conditions, immunodeficiencies, cancer, infectious diseases, complex allergies, and mental illnesses. United Multispecialty Partners is projected to be operational in 10 states in 2025..</p>
      </li>
    </ul>
  </section>
  <section class="difference-section">
    <h2>How We’re Different</h2>
    <div class="content-container">
      <p>United Health Partners uses an integrated approach to offer advanced diagnostics and therapeutics to the most underserved patient populations nationwide.</p>
      <h3>Addressing provider pain points, increasing patient access.</h3>
      <p>United Health Partners addresses the gap between provider resources and patient needs, offering administrative support, clinical solutions, and hands-on care for patients with highly specialized medical conditions.</p>
      <h3>Not just clinicians, advocates.</h3>
      <p>United Health Partners is founded on an ethic of social responsibility, meaning UHP providers will never turn away a patient who cannot pay for services. United Health Partners are both physicians and advocates, serving patient populations neglected by the healthcare delivery system due to the complexity of their medical conditions.</p>
      <h3>Integrated partnerships. Integrated Care.</h3>
      <p>United Health Partners understands patient care as a collective benefit to the community, and works in partnership with physicians and other provider organizations to facilitate integrated care and increase patient access to specialty services.</p>
      <div class="align-center">
        <button [routerLink]="['/about']" class="btn-secondary">ABOUT</button>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Group_34" data-name="Group 34" width="486.582" height="486.582" viewBox="0 0 486.582 486.582">
      <defs>
        <clipPath id="clip-path">
          <rect id="Rectangle_41" data-name="Rectangle 41" width="486.582" height="486.582" fill="none"/>
        </clipPath>
      </defs>
      <g id="Group_27" data-name="Group 27" clip-path="url(#clip-path)">
        <circle id="Ellipse_13" data-name="Ellipse 13" cx="241.022" cy="241.022" r="241.022" transform="translate(2.269 2.269)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
        <circle id="Ellipse_14" data-name="Ellipse 14" cx="206.991" cy="206.991" r="206.991" transform="translate(36.3 36.3)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
        <circle id="Ellipse_15" data-name="Ellipse 15" cx="172.959" cy="172.959" r="172.959" transform="translate(70.332 70.331)" fill="none" stroke="#003e70" stroke-linecap="round" stroke-width="2"/>
      </g>
    </svg>
  </section>
</app-page-layout>
