<app-page-layout>
  <section class="main-section">
    <div class="container">
      <div class="row">
        <div class="col-11 offset-1 col-sm-12 offset-sm-0">
          <div class="feature-banner">
            <h1>Specialized Technology <strong>Solutions</strong> for <strong>Wound Care</strong></h1>
            <p class="mt-3">Apollo Technologies is a trusted partner for healthcare organizations, providing innovative software solutions tailored to the healthcare industry. With decades of expertise in rehabilitation therapy, post-acute care, wound care, and occupational health, our technology empowers providers, payers, and employers with predictive analytics and patient engagement tools.</p>
            <p>Our software products streamline workflow, enhances patient interactions, tracks performance metrics, and improves clinical outcomes—helping organizations optimize care and drive sustainable growth.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="content-section">
    <div class="container">
      <div class="row g-0 align-items-center">
        <div class="col-11 offset-1">
          <h3>Our Products</h3>
        </div>
        <div class="col-6 offset-1 col-md-10 order-md-2">
          <h5>Comprehensive Wound Care Solutions</h5>
          <p>Atlast 360, our all-in-one wound care software, streamlines clinical workflows, enhancing efficiency for providers and staff while improving patient outcomes. With advanced automation, it simplifies documentation by allowing providers to chart visits based on chief complaints, procedures, diagnoses, or past medical history. Facilities can instantly generate reports on key health metrics such as A1C levels, blood pressure, and diabetes, helping identify high-risk patients and support data-driven decision-making.</p>
          <p>The system also enhances patient engagement through a secure portal, enabling individuals to submit health data and communicate with providers via encrypted messaging. Additionally, by reducing pre- and post-procedure times and minimizing appointment cancellations, it increases patient capacity and optimizes overall care delivery.</p>
          <a [routerLink]="['/contact']" class="btn-primary">Request a Demo</a>
        </div>
        <div class="col-5 col-md-10 offset-md-1 order-md-1">
          <img class="ml-5 ml-md-0 mb-md-4" src="/images/atlas-360.svg" alt="">
        </div>

        <div class="col-5 offset-1 col-md-10 order-md-3">
          <img class="mr-5 mt-md-5" src="/images/gateway.svg" alt="">
        </div>
        <div class="col-6 col-md-10 offset-md-1 order-md-4">
          <h5 class="mt-5 mt-md-4">Seamless Data Integration for Enhanced Care</h5>
          <p>Gateway is a powerful electronic interface that effortlessly connects Atlas360 with PointClickCare (PCC), enabling real-time data transfer between platforms. By eliminating manual data entry, it reduces errors and saves valuable time, allowing healthcare providers to focus on patient care.</p>
          <p>With Gateway, clinicians can seamlessly access critical patient information—such as observations, assessments, progress notes, and results—directly within their workflow. Designed for the complexities of long-term care, this integration streamlines documentation, enhances collaboration, and supports informed clinical decision-making. By ensuring that detailed records flow directly into the PCC system without extra logins or manual uploads, Gateway simplifies care management and improves outcomes for patients in long-term care settings.</p>
          <a [routerLink]="['/contact']" class="btn-primary">Request a Demo</a>
        </div>
        
      </div>
    </div>
  </section>
  
</app-page-layout>
