<footer>
  <div class="footer-container">
    <div>
      <a [routerLink]="['/']">
        <img src="/images/logo-light.png" >
      </a>
    </div>
    <div class="links-container">
      <h3>Treating complex medical conditions.</h3>
      <ul>
        <li>
          <a [routerLink]="['/about']">About</a>
        </li>
        <li>
          <a [routerLink]="['/services']">Services</a>
        </li>
        <li>
          <a [routerLink]="['/team']">Team</a>
        </li>
        <li>
          <a [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="copyright-text">Copyright © 2024 United Health Partners. All rights reserved.</p>
</footer>
