<footer>
  <div class="footer-container">
    <div>
      <img src="/images/logo-light.png" >
    </div>
    <div class="links-container">
      <h3>Treating complex medical conditions.</h3>
      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/services">Services</a>
        </li>
        <li>
          <a href="/team">Team</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="copyright-text">Copyright © 2024 United Health Partners. All rights reserved.</p>
</footer>
