<footer>
  <div class="footer-container">
    <div>
      <a [routerLink]="['/']">
        <img src="/images/logo-light.png" loading="lazy">
      </a>
    </div>
    <div class="links-container">
      <h3>Treating complex medical conditions.</h3>
      <ul>
        <li>
          <a [routerLink]="['/about']" [ngClass]="{'active': currentRoute === '/about'}" >About</a>
        </li>
        <li>
          <a [routerLink]="['/services']" [ngClass]="{'active': currentRoute === '/services'}">Services</a>
        </li>
        <li>
          <a [routerLink]="['/team']" [ngClass]="{'active': currentRoute === '/team'}">Team</a>
        </li>
        <li>
          <a [routerLink]="['/contact']" [ngClass]="{'active': currentRoute === '/contact'}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="copyright-text">Copyright © 2024 United Health Partners. All rights reserved.</p>
</footer>
