@import './styles/variables';
@import './styles/grid';

html { 
  scroll-behavior: smooth;
  height: 100%; 
}

body { 
  margin: 0;
  height: 100%;
  @extend %font-primary;
  font-size: 18px;
  line-height: 28px;
  background: #152644;
  &.open-menu {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header .logo img {
  width: 207px;
  height: auto;
}

.container {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  width: 100%;
  position: relative;
}

footer,
header {
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: $color-text-dark;
  font-size: 20px;
}

.w-100 {
  width: 100%;
}

.row-width-100 {
  width: calc(100% + 30px);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

h1 {
  @extend %font-secondary;
  font-weight: 500;
  font-size: 60px;
  line-height: 75px;
  color: $color-white;
  strong {
    font-weight: 800 !important;
    color: $color-primary;
  }
}

h2 {
  @extend %font-secondary;
  font-weight: 500;
  font-size: 45px;
  line-height: 54px;
  color: $color-white;
  margin-bottom: 28px;
  strong {
    font-weight: 800 !important;
    color: $color-primary;
  }
}

h3 {
  font-size: 50px;
  color: $color-primary;
  margin-bottom: 36px;
}

h4 {
  @extend %font-secondary;
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
  color: $color-primary;
  margin-bottom: 8px;
}

h5 {
  color: $color-secondary;
  font-size: 32px;
  margin-bottom: 16px;
}

h6 {
  font-size: 24px;
  color: $color-text-dark;
  margin-bottom: 12px
}

p {
  color: $color-text-dark;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 24px;
}

strong {
  font-weight: 700 !important;
}

ul {
  margin-bottom: 24px;
}

li {
  color: $color-text-dark;
  font-size: 16px;
  line-height: 1.6;
  > ul {
    margin-top: 10px;
  }
}

.text-center {
  text-align: center !important;
}

section {
  &.default {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .section-content {
    p {
      margin-bottom: 28px;
      color: $color-white;
    }
    ul {
      padding-left: 20px;
      li {
        color: $color-white;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}

.featured-banner {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: -110px;
  position: relative;
  .banner-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-secondary;
    opacity: .81;
    z-index: 1;
  }
  .banner-content {
    z-index: 2;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 66.66%;
    @media (min-width: 992px) {
      max-width: 768px;
    }
    p {
      color: $color-white;
      font-size: 18px;
      line-height: 28px;
    }
  }
}

.bg-light {
  background: rgba(255, 255, 255, .15);
  border-radius: 47px;
  padding: 75px 98px 57px;
  @media (max-width: 767.98px) {
    padding: 45px 24px 27px;
  }
  p {
    color: $color-white;
  }
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mt-56 {
  margin-top: 56px !important;
}

.mt-72 {
  margin-top: 72px !important;
}

.btn-primary {
  @extend %font-primary;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 10px 18px;
  font-size: 18px;
  border-radius: 32px;
  color: $color-secondary;
  font-weight: 500;
  background-color: $color-primary;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

/* Hover & Focus */
.btn-primary:hover,
.btn-primary:focus {
  background-color: $color-white;
  border-color: $color-white;
  // color: $color-primary;
}

/* Active */
.btn-primary:active {
  background-color: $color-primary;
  border-color: $color-primary;
  transform: scale(0.98);
}

/* Disabled */
.btn-primary:disabled,
.btn-primary.disabled {
  background-color: $color-primary;
  border-color: $color-primary;
  opacity: 0.65;
  cursor: not-allowed;
}

hr {
  border: none;
  height: 2px;
  background-color: $color-white;
  margin: 108px 0 85px;
}

label {
  font-size: 15px;
  line-height: 36px;
  color: $color-text-dark;
  margin-bottom: 8px;
}

input, textarea {
  font-size: 15px;
  border-radius: 18px;
  width: 100%;
  padding: 14px 24px 14px 24px;
  color: $color-text-light;
  border: none;
}

.input-group {
  position: relative;
  input {
    width: -webkit-fill-available;
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    border-radius: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 3px;
    margin-right: 3px;
    height: calc(100% - 6px);
  }
}

.color-primary {
  color: $color-primary !important;
}

.col-span-xl-6 {
  width: 50%;
}

.align-center {
  display: flex;
  justify-content: center;
}

.text-container {
  width: 768px;
  margin: 0 auto;
}

small {
  color: red;
  font-size: 12px;
  position: absolute;
  font-weight: 500;
}

@media (max-width: 992px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
  h3 {
    font-size: 44px;
    margin-bottom: 28px;
  }
  h5 {
    font-size: 28px;
    margin-bottom: 16px;
    line-height: 40px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
  
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h3 {
    font-size: 32px;
    margin-bottom: 28px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }
  p,
  .btn-primary {
    font-size: 16px;
  }
}

/* Base table styles */
.table {
  --at-table-bg: transparent;
  --at-table-accent-bg: transparent;
  --at-table-striped-color: #212529;
  --at-table-striped-bg: rgba(0, 0, 0, 0.05);
  --at-table-active-color: #212529;
  --at-table-active-bg: rgba(0, 0, 0, 0.1);
  --at-table-hover-color: #212529;
  --at-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  // border-color: #dee2e6;
}

/* Apply styles to table rows and cells */
.table > :not(caption) > * > * {
  padding: 0.5rem;
  background-color: var(--at-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--at-table-accent-bg);
  border: 1px solid #dee2e6;
  font-size: 16px;
}

/* Table bordered styles */
.table-bordered {
  margin-bottom: 40px;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 1px;
}

.table-bordered > :not(caption) > * > * {
  border-width: 1px 1px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Additional styles for responsiveness */
@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

.table-container {
  max-width: 768px;
  margin: 0 auto;
}

.membrane-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.membrane-table th,
.membrane-table td {
  padding: 12px 16px;
  border: 1px solid #000;
}

.membrane-table thead tr:first-child th {
  background-color: #8cc4e1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.membrane-table thead tr:nth-child(2) th {
  background-color: #BAD8E5;
  font-weight: bold;
}

.membrane-table tbody tr:nth-child(even) {
  background-color: #BAD8E5;
}

.membrane-table tbody tr:nth-child(odd) {
  background-color: #8CC4E1;
}