@import './styles/variables';

%poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

%poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

%poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

%poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

%poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

%poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

%poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

%poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

%roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

%roboto-medium {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

%roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html { 
  scroll-behavior: smooth;
  height: 100%; 
}

body { 
  margin: 0;
  height: 100%;
  @extend %roboto-regular;
  &.open-menu {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  width: 100%;
  position: relative;
}

footer,
header {
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  @extend %roboto-medium;
  color: $color-text-dark;
  font-size: 20px;
}

.w-100 {
  width: 100%;
}

.row-width-100 {
  width: calc(100% + 30px);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

h1 {
  @extend %poppins-regular;
  font-size: 60px;
  line-height: 75px;
  color: $color-white;
  strong {
    @extend %poppins-black;
  }
}

h2 {
  @extend %poppins-black;
  font-size: 42px;
  color: $color-primary;
  margin-bottom: 12px;
}

h3 {
  @extend %poppins-black;
  font-size: 50px;
  color: $color-primary;
  margin-bottom: 36px;
}

h4 {
  @extend %poppins-regular;
  font-size: 32px;
  color: $color-primary;
  margin-bottom: 8px;
}

h5 {
  @extend %poppins-black;
  color: $color-secondary;
  font-size: 32px;
  margin-bottom: 16px;
}

h6 {
  @extend %poppins-semibold;
  font-size: 24px;
  color: $color-text-dark;
  margin-bottom: 12px
}

p {
  @extend %roboto-regular;
  color: $color-text-dark;
  font-size: 21px;
  line-height: 31px;
  margin-bottom: 24px;
}

ul {
  margin-bottom: 24px;
}

li {
  @extend %roboto-regular;
  color: $color-text-dark;
  font-size: 16px;
  line-height: 1.6;
  > ul {
    margin-top: 10px;
  }
}

.text-center {
  text-align: center !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.btn-primary {
  @extend %roboto-bold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 1.5rem;
  font-size: 18px;
  border-radius: 32px;
  color: #fff;
  background-color: lighten($color-primary, 15%);
  transition: all 0.3s ease-in-out;
}

/* Hover & Focus */
.btn-primary:hover,
.btn-primary:focus {
  background-color: $color-primary;
  border-color: $color-primary;
  color: #fff;
}

/* Active */
.btn-primary:active {
  background-color: $color-primary;
  border-color: $color-primary;
  transform: scale(0.98);
}

/* Disabled */
.btn-primary:disabled,
.btn-primary.disabled {
  background-color: $color-primary;
  border-color: $color-primary;
  opacity: 0.65;
  cursor: not-allowed;
}

label {
  @extend %roboto-medium;
  font-size: 15px;
  line-height: 36px;
  color: $color-text-dark;
  margin-bottom: 8px;
}

input, textarea {
  @extend %roboto-regular;
  font-size: 15px;
  border-radius: 18px;
  width: 100%;
  padding: 14px 24px 14px 24px;
  color: $color-text-light;
  border: none;
}

.input-group {
  position: relative;
  input {
    width: -webkit-fill-available;
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    border-radius: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 3px;
    margin-right: 3px;
    height: calc(100% - 6px);
  }
}

.col-span-xl-6 {
  width: 50%;
}

.align-center {
  display: flex;
  justify-content: center;
}

.text-container {
  width: 768px;
  margin: 0 auto;
}

small {
  color: red;
  font-size: 12px;
  margin: 3px 10px;
  font-family: "proxima-nova-regular";
  position: absolute;
}

@media (max-width: 992px) {
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
  h3 {
    font-size: 44px;
    margin-bottom: 28px;
  }
  h5 {
    font-size: 28px;
    margin-bottom: 16px;
    line-height: 40px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
  
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h3 {
    font-size: 32px;
    margin-bottom: 28px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }
  p,
  .btn-primary {
    font-size: 16px;
  }
}

/* Base table styles */
.table {
  --at-table-bg: transparent;
  --at-table-accent-bg: transparent;
  --at-table-striped-color: #212529;
  --at-table-striped-bg: rgba(0, 0, 0, 0.05);
  --at-table-active-color: #212529;
  --at-table-active-bg: rgba(0, 0, 0, 0.1);
  --at-table-hover-color: #212529;
  --at-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  // border-color: #dee2e6;
}

/* Apply styles to table rows and cells */
.table > :not(caption) > * > * {
  padding: 0.5rem;
  background-color: var(--at-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--at-table-accent-bg);
  border: 1px solid #dee2e6;
  font-size: 16px;
}

/* Table bordered styles */
.table-bordered {
  margin-bottom: 40px;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 1px;
}

.table-bordered > :not(caption) > * > * {
  border-width: 1px 1px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Additional styles for responsiveness */
@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
